<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ogangi.demo.walletapp">

    <uses-permission android:name="com.ogangi.messangi.permission.pushReceive"/>

    <application
        android:name=".MyWalletApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PassListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassDetailActivity"
            android:label="@string/title_pass_detail"
            android:parentActivityName=".PassListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ogangi.demo.walletapp.PassListActivity" />
        </activity>

        <receiver
            android:name=".MessangiReceiver"
            android:permission="com.ogangi.messangi.permission.pushReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ogangi.messangi.android.sdk.PUSH_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>